<div class="row">
  <footer id="footer">
    <div class="social-cont">

      <div class="small-3 small-centered columns">         
        <a href="mailto:Jessica.L.Koch136@gmail.com?Subject=Pup%20Meet%20Up" target="_top">
          <i class="fa fa-envelope"></i>
        </a>

        <a href="https://www.linkedin.com/in/jessicalkoch">
          <i class="fa fa-linkedin social-ico"></i>
        </a>

        <a href="https://twitter.com/Jess__Koch">
          <i class="fa fa-twitter social-ico"></i>
        </a>

        <a href="https://github.com/Jessica-Koch/ember-cli-rails-oauth-example">
          <i class="fa fa-github-alt"></i>
        </a>

        <a href="https://plus.google.com/u/0/117987266055081812105/about/p/pub">
         <i class="fa fa-google-plus"></i>
       </a>
     </div>
   </div>
 </footer>
</div>


