<div class="row">
  <div class="small-12 columns">
    <footer id="footer">
      <div class="social-cont">

      <div class="small-12 medium-4 columns">
          <div class="footer-links small-only-text-center text-right">
            <a href="mailto:Jessica.L.Koch136@gmail.com?Subject=Pup%20Meet%20Up" target="_top">
              <i class="fa fa-envelope"></i>
            </a>
          </div>
        </div>

        <div class="small-12 medium-4 columns">
          <div class="footer-links small-only-text-center text-right">
            <a href="https://www.linkedin.com/in/jessicalkoch">
              <i class="fa fa-linkedin social-ico"></i>
            </a>
          </div>
        </div>

        <div class="small-12 medium-6 columns">
          <span class="created-by small-only-text-center">
            <a href="https://twitter.com/Jess__Koch">
            <i class="fa fa-twitter social-ico"></i>
            </a>
          </span>
        </div>

        <div class="small-12 medium-4 columns">
          <div class="footer-links small-only-text-center text-right">
            <a href="https://github.com/Jessica-Koch/ember-cli-rails-oauth-example">
              <i class="fa fa-github-alt"></i>
            </a>
          </div>
        </div>

          <div class="small-12 medium-6 columns">
          <div class="footer-links small-only-text-center text-right">
            <a href="https://plus.google.com/u/0/117987266055081812105/about/p/pub">
               <i class="fa fa-google-plus"></i>
            </a>
          </div>
        </div>

      </div>
    </footer>
  </div>
</div>




      

          
