<h2>All My Dogs</h2>

<table class='primary'>
  <thead>
    <tr>
      <th scope='column'>Name</th>
      <th scope='column'>Age</th>
      <th scope='column'>Gender</th>
      <th scope='column'>Breed</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{{!-- iterate over dogs and link possible breeds to breeds. Passing dogs as attributes and bounding save ation to another also called save--}}
  {{#each model as |dog|}}
    {{dogs/dog-form dog=dog save='save' dogBreeds=possibleBreeds}}
    {{/each}}
  </tbody>
</table>


