<form action="save" on="submit">
  <p>
    <label> First Name:
      {{input value=model.firstName}}
    </label>
  </p>

  <p>
    <label>Last Name: 
      {{input value=model.lastName}}
    </label>
  </p>

  <p>
    <label>Email:
      {{input value=model.email}}
    </label>
  </p>

  <input type="submit" value="Save"/>
  {{!-- action helper one of the most useful features in embe; allow us to bind an action in the template to an action in the template's controller or route.

  bound to click action by default  --}}
  <button {{action "cancel"}}>Cancel</button>
</form>


